// requests
pip install requests
pip install requests_oauthlib
pip install "requests[socks]"

// httpx
pip install httpx
pip install "httpx[http2]"

// xpath
pip3 install lxml

// Beautiful Soup
pip3 install beautifulsoup4

// parsel
pip3 install parsel

// selenium
pip3 install selenium

// pyppaeteer
pip3 install pyppeteer==1.0.2

// playwright
pip3 install playwright
playwright install

// captcha
pip3 install pillow retrying

// tesserocr
tesserocr下载地址：https://digi.bib.uni-mannheim.de/tesseract/
pip3 install pytesseract

// opencv
pip3 install opencv-python